footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #536471;
    padding: 0 30px;
    font-size: .8rem;
    background-color: white;
}

.pFooter {
    padding: 0 15px;
}