#conteinerRegistrarConNum {
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0px;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.308);
}

.subConteinerRegistrar {
    width: 40%;
    background-color: rgb(255, 253, 253);
    border-radius: 15px;
    height: max-content;
    font-family: 'Source Sans Pro';
}

.firstLine {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding-left: 12px;
}

.closeButton {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(226, 223, 223);
    border: 4px solid rgb(226, 223, 223);
}

.closeButton:hover {
    transition: .3s;
    background-color: rgb(196, 194, 194);
    border: 4px solid rgb(196, 194, 194);
    cursor: pointer;
}

.closeButton:not(:hover) {
    transition: .3s;
}

.pasos {
    font-size: 22px;
    letter-spacing: 1.5px;
}

.conteinerModal {
    padding: 0 70px;
    display: flex;
    flex-direction: column;
}

#inputNombre {
    margin-bottom: 40px;
}

.inputPasoUno {
    outline: none;
    height: 45px;
    border-radius: 5px;
    border: 2px solid rgba(194, 193, 193, 0.849);
    padding-left: 7px;
    font-size: 16px;
}

.inputPasoUno:focus {
    border: 2px solid #1d9bf0;
}

.correoTel {
    color: #2aa1f1;
    text-align: end;
}

.correoTel:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fechaNacTitle {
    font-size: 16px;
    margin: 0;
}

.infoFechaNac {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(99, 96, 96);
    letter-spacing: .5px;
}

.fechaNac {
    display: flex;
    justify-content: space-between;
}

.selectsRegistro {
    height: 50px;
    outline: none;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 5px;
}

.selectsRegistro:focus {
    border: 2px solid #1d9bf0;
}

#selectMes {
    width: 50%;
}

#selectDia {
    width: 15%;
}

#selectAnio {
    width: 30%;
}

.buttonNext {
    margin: 20px 0;
    background-color: #878a8c;
    color: white;
    border-radius: 30px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #878a8c;
}