.conteinerLogin{
    display: flex;
    width: 100%;
    gap: 40px;
}

.leftLogin{
    width: 40%;
    background-color: white;
    background: url('../../Images/backgroundLogin2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitterWhite{
    width: 56%;
    filter: invert(100%);
}

.rightLogin{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.twitterLogoMini{
    width: 80px;
}

.titleLogin{
    font-family: 'Archivo Black';
    font-size: 4rem;
    width: 700px;
    margin-bottom: 0;
    color: rgb(26, 25, 25);
}

.subTitleLogin{
    font-family: 'Archivo Black';
    font-size: 2rem;
    color: rgb(26, 25, 25)
}

.conteinerButtonsLogin{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.buttonLogin{
    height: 40px;
    border: 1px solid rgb(182, 174, 174);
    border-radius: 25px;
    cursor: pointer;
}

.buttonBackgroundWhite{
    background-color: white;
}

.googleButton{
    color: rgb(75, 74, 74);
    font-family: Roboto;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.googleButton:hover{
    background-color: #f8faff;
    border: 1px solid rgb(86, 192, 235);
    transition: .5s;
}

.googleButton:not(:hover){
    transition: .5s;
}

.googleG, .apple-icon{
    width: 16px;
}

.appleButton{
    color: rgb(2, 2, 2);
    font-family: Roboto;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.appleButton:hover{
    transition: .5s;
    background-color: #e6e6e6;
}

.appleButton:not(:hover){
    transition: .5s;
}

.parrafoEntreBotones{
    text-align: center;
    margin: 0;
}

.registroConTelefono{
    background-color: #1d9bf0;
    color: white;
    font-size: 14px;
    font-family: Roboto;
}

.registroConTelefono:hover{
    background-color: #1684ce;
    transition: .5s;
}

.registroConTelefono:not(:hover){
    transition: .5s;
}

.terminosServicios{
    font-size: 12px;
    color: rgb(68, 68, 68);
    font-family: Roboto;
}

.linksRegistro{
    color: #1d9bf2;
    
}

.linksRegistro:link{
    text-decoration: none;
}

.linksRegistro:hover{
    text-decoration: underline;
}

.cuentaPregunta{
    margin-top: 50px;
    font-size: 17px;
}

.buttonIniciarSesion{
    font-family: Roboto;
    background-color: white;
    color: #1a7fc2;
    font-size: 15px;
    margin-bottom: 50px;
}

.buttonIniciarSesion:hover{
    background-color: #e8f5fd;
    transition: .5s;
}

.buttonIniciarSesion:not(:hover){
    transition: .5s;
}